<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
</div>

  <section class="section-dashboard">
    <div class="row">


      <div class="col-lg-8">
        <div class="row">


          <div class="col-xxl-4 col-md-6" style="margin-top: -3em;">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                <div class="d-flex align-items-center">

                    <i class="bi bi-currency-dollar"></i>

                  <div class="ps-3">
                    <h6>$3,264</h6>
                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                  </div>
                </div>
              </div>

            </div>
          </div>
</div></div></div></section>
