.pagetitle[_ngcontent-mgp-c2] h1[_ngcontent-mgp-c2] {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

.popup-content{
  text-align: center;
  margin: 20px;
}

.modal-content {
  padding: 20px;
  margin: 10px;
  text-align: center;
}
