<div class="my-container" style="padding-left:30%;padding-top:5%">
  <br><br><br><br>
  <div class="card" style="width: 40rem;">

    <div class="card-body">
      <h5 class="card-title" style="margin-bottom: 0.75rem;
    text-align: center;
    size: b4;
    font-size: xx-large;
    color: darkblue;
    font-weight: bold;">
        créer un compte !</h5>


  <form style="padding-left: 5%;padding-right: 5%" [formGroup]="userDetail">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" class="form-control" formControlName="firstName" >
        </div>
        <div class="col-md-6">
          <label for="firstName">Last Name</label>
          <input id="lastName" type="text" class="form-control" formControlName="lastName" >
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label >Email</label>
          <input id="emailId" type="email" class="form-control" formControlName="email">
        </div>
        <div class="col-md-6">
          <label for="website">UserName</label>
          <input id="website" type="text" class="form-control"formControlName="userName" >
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <label for="mobile">Password</label>
          <input id="password" type="password" class="form-control" formControlName="password">
        </div>
        <div class="col-md-6">
          <label for="mobile">Entreprise</label>
          <input id="mobile" type="text" class="form-control" formControlName="entreprise">
        </div>

      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <label for="address">phone</label>
          <input id="address" type="text" class="form-control" placeholder={{phone}} formControlName="phone">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-primary btn-block" (click)="addUser()"> Submit </button></div>
        <div class="col-md-4"></div>
      </div>


    </div>
  </form>
    </div>
  </div>
</div>
