
<aside id="sidebar" class="sidebar" style="background-color: #e9ecef;">
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item" *ngIf="chekoutAdmin()" >
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" [routerLink]="'/Dashboard-Admin'" routerLinkActive="active">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="chekoutClient()" >
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"  routerLinkActive="active"  [routerLink]="'/Client-home'">
          <span>Espace client</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

      </li>
      <li class="nav-item" *ngIf="chekoutAdmin()" >
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"  routerLinkActive="active"  [routerLink]="'/commande'">
          <span>Commande</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" [routerLink]="'/user-profile'" routerLinkActive="active">
          <i class="bi bi-grid"></i>
          <span>User Profile</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-item"  *ngIf="chekoutAdmin()" >
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" [routerLink]="'/user'"routerLinkActive="active" >
          <i class="bi bi-menu-button-wide"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        </ul>
      </li>

      <li class="nav-item"  *ngIf="chekoutAdmin()" >
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" [routerLink]="'/serveur'"routerLinkActive="active" >
          <i class="bi bi-menu-button-wide"></i><span>Serveur</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        </ul>
      </li>
      <li class="nav-item"  *ngIf="chekoutAdmin()" >
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" [routerLink]="'/services'"routerLinkActive="active" >
          <i class="bi bi-menu-button-wide"></i><span>Services</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav3" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        </ul>
      </li>



      <!-- End Components Nav -->



    </ul>

  </aside>
