

<div class="wrapper" style="padding-top: 6%;margin-left: 10%;display: flex;justify-content: space-between">
  <div class="row"  >
    <div class="cardTest"  style="display: flex;justify-content: space-between">
    <div  style="padding-left: 2%;display: flex;justify-content: space-between">
      <div class="card text-center" *ngFor="let service of servList" style="display: flex;justify-content: space-between ;margin-right: 5%">
        <div class="pricing card-header p-5 bg-light-gradient d-flex align-items-center flex-column" style ="height: 45%;">
          <h4 >{{service.typeHebergement}}</h4>
          {{service.serviceName}}

        </div>
        <ul class="list-group list-group-flush">
          <li>À partir de </li>
          <li class="pricing__table pricing__table--positive plus"><b style="color: #1D62F0">{{service.prix}}</b><sup></sup></li>
          <li>HT/mois</li>
          <li>Abonnement 12 Mois<li>
          <li>Domaine gratuit 1 an</li>
          <li class="pricing__table pricing__table--positive plus">{{service.espaceDisque}}</li>
          <li>{{service.traficMesuel}}</li>
          <li>{{service.bandePassante}}</li>
          <li>{{service.nbEmail}} Emails</li>
          <li>Certificat SSl <b>Gratuit</b></li>
        </ul>
        <div class="card-body">
          <a class="btn btn-outline-secondary" style="background: #0073EC;color: #fff;border: solid 1px #0073EC;border-radius: 30px;"><i class="fa-solid fa-cart-shopping"></i> Commander </a>
        </div>
      </div>
    </div>
    </div>

</div>









 <!--div class="card text-center">
    <div class="pricing card-header p-5 bg-light-gradient d-flex align-items-center flex-column">
      <h4 class="">Hébergement Perso</h4>
      <div class="pricing-value"><span class="price text-dark odometer odometer-auto-theme" data-monthly-price="3.9" data-yearly-price="3.1"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">0</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">3</span></span></span></span></span><span class="odometer-formatting-mark odometer-radix-mark">.</span><span class="odometer-digit"><span class="odometer-digit-spacer">0</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">9</span></span></span></span></span></div></span></div>
      <p>Idéal pour les sites web personnels, blogs..</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="pricing__table pricing__table--positive plus">Domaine offert la 1ère année<sup>*</sup></li>
      <li class="pricing__table pricing__table--positive plus">Disque SSD et Trafic <b>ILLIMITÉS</b></li>
      <li class="pricing__table pricing__table--positive neutral"><b>5</b> Domaines maximales</li>
      <li class="pricing__table pricing__table--positive neutral"><b>1</b> BD MySQL x 1 Go</li>
      <li class="pricing__table pricing__table--positive neutral"><b>10</b> Comptes E-mail x 5 Go</li>
      <li class="pricing__table pricing__table--positive plus">Certificat SSL <b>GRATUIT</b></li>
      <li class="pricing__table pricing__table--positive plus">Sauvegarde journalière auto</li>
      <li class="pricing__table pricing__table--positive plus">Accélération <b>LiteSpeed</b></li>
      <li class="pricing__table pricing__table--positive neutral"> RAM <b>512 Mo</b> / CPU <b>0.5 Ghz</b></li>                                    <li style="text-align: center; padding-top: 1rem;"><a href="#compare"><i class="fas fa-level-down"></i> Comparatif avancé</a></li>
    </ul>
    <div class="card-body"><a href="/order.php?pid=221" class="btn btn-outline-secondary"><i class="far fa-cart-plus"></i> Commander </a></div>
  </div>
</div-->
