

<div class="wrapper" style="padding-top: 6%;margin-left: 10%;display: flex;justify-content: space-between">
  <div class="row"  >
    <div class="cardTest"  style="display: flex;justify-content: space-between">
    <div  style="padding-left: 2%;display: flex;justify-content: space-between">
      <div class="card text-center" *ngFor="let service of servList" style="display: flex;justify-content: space-between ;margin-right: 5%">
        <div class="pricing card-header p-5 bg-light-gradient d-flex align-items-center flex-column" style ="height: 45%;">
          <h4 >{{service.typeHebergement}}</h4>
          {{service.serviceName}}

        </div>
        <ul class="list-group list-group-flush">
          <li>À partir de </li>
          <li class="pricing__table pricing__table--positive plus"><b style="color: #1D62F0">{{service.prix}}</b><sup></sup></li>
          <li>HT/mois</li>
          <li>Abonnement 12 Mois<li>
          <li>Domaine gratuit 1 an</li>
          <li class="pricing__table pricing__table--positive plus">{{service.espaceDisque}}</li>
          <li>{{service.traficMesuel}}</li>
          <li>{{service.bandePassante}}</li>
          <li>{{service.nbEmail}} Emails</li>
          <li>Certificat SSl <b>Gratuit</b></li>
        </ul>
        <div class="card-body">
          <a class="btn btn-outline-secondary" style="background: #0073EC;color: #fff;border: solid 1px #0073EC;border-radius: 30px;" [routerLink]="'/pick-domaine'"><i class="fa-solid fa-cart-shopping"></i> Commander </a>
        </div>
      </div>
    </div>
    </div>

</div>









