/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "src/assets/sass/light-bootstrap-dashboard.scss";

body, html {
  padding: 0;
  width: 100vw;
  height: 100vh;

}

.my-container{
  width: 100vw;
  height: 100vh;

}
.toast-container .ngx-toastr {
  width: 388px !important;
}

.toast-container .toast-success {
  background-color: #6ac16ad7 !important;
}

